.header {
    background-color: #ededed;
    height: 8%;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-details {
    display: inline-flex;
    align-items: center;
}

.header-actions {
    padding-left: 8px;
}

.avatar {
    padding: 8px;
}

.title {
    padding-right: 10px;
}

.title-with-subtitle {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

.subtitle {
    padding-top: 2px;
    font-size: 14px;
    color: grey;
}