.message {
    color: #000;
    clear: both;
    line-height: 18px;
    font-size: 15px;
    padding: 8px;
    position: relative;
    margin: 8px 20px;
    max-width: 85%;
    word-wrap: break-word;
    display: flex;
    flex-direction: row-reverse;
}

.message:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    z-index: 1;
}

.metadata {
    display: inline-block;
    float: right;
    padding: 0 0 0 7px;
    position: relative;
    bottom: -4px;
    margin-right: 7px;
    margin-left: -10px;
}

.metadata .time {
    color: rgba(0, 0, 0, 0.45);
    font-size: 11px;
    display: inline-block;
}

.metadata .tick {
    display: inline-block;
    margin-left: 2px;
    position: relative;
    top: 4px;
    height: 16px;
    width: 16px;
    color: #4fc3f7;
    font-size: medium;
    padding-right: 4px;
}

.message:first-child {
    margin: 16px 20px 8px;
}

.message.received {
    background: #fff;
    border-radius: 0px 5px 5px 5px;
    float: right;
}

.message.received .metadata {
    padding: 0 0 0 16px;
}

.message.received:after {
    border-width: 0px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
    top: 0;
    left: -10px;
}

.message.sent {
    background: #e1ffc7;
    border-radius: 5px 0px 5px 5px;
    float: left;
}

.message.sent:after {
    border-width: 0px 0 10px 10px;
    border-color: transparent transparent transparent #e1ffc7;
    top: 0;
    right: -10px;
}

.star {
    font-size: 11px;
    padding-left: 4px;
    color: rgba(0, 0, 0, 0.45);
}