.message-search-header {
    background-color: #ededed;
    height: 8%;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.message-search-title {
    display: inline-flex;
    align-items: center;
    padding-right: 5px;
}